*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar_blue_banner{
background-color: #541554;
}

/* **************************NAVBAR************************************* */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem ;
    max-width: 1300px;
    margin: auto;
}
.logo_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_links button{
    margin:0 0.5rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.fa-magnifying-glass{
    color: #fff;
}
.nav_right_links button{
    margin:0 0.5rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    
}
.search_btn i{
    margin-right: 1rem;
    font-size: 21px;
}
.talk_to_sales_btn{
    border: 2px solid #fff  !important;
    padding: 10px;
    border-radius: 5px;
}
.try_for_free_btn{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff !important;
    color: #541554 !important;
}
.c-slacklogo--color span{
    color: #fff !important;
}
.logo{
    width: 140px;
    object-fit: contain;
    margin-right: 2rem;
    cursor: pointer;
}
.blue_banner{
    background-color:#1264A3;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    max-width: 1300px;
    margin: auto;
    padding: 20px 40px;
    font-weight: 700;

}
/* **************************NAVBAR************************************* */
/* **************************HEADER************************************* */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #541554;
    padding-bottom:3rem;
}
.section_1{
    padding-left: 110px;
    max-width: 770px;
}
.main_title_1{
    font-size:64px;
    font-weight: 700;
    color: #fff;
}
.main_title_2{
    font-size:64px;
    font-weight: 700;
    color: #ecb22e;
    padding: 0.5rem 0;
    white-space: nowrap;
}
.subtitle{
    font-size:20px;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: -.2px;
    max-width: 560px;
    color: #fff;
}
.section_btn_div{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 1.5rem;
}
.email_btn{
    background-color: #fff ;
    color: #611f69;
    font-weight: 700;
    font-size: 14px;
    width: 238px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px #611f69;
    border:none;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
}
.google_btn{
    background-color: #4285F4 ;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 256px;
    height: 57px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: inset 0 0 0 1px #611f69;
    border:none;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
.google-icon{
    width: 45px !important;
    border-radius: 5px;
    margin-right: 1rem;
}
.subtext{
    font-size:20px;
    font-weight: 600;
    line-height: 1.333;
    letter-spacing: -.2px;
    color: #fff;
    padding-top: 1.5rem;
}
.section_2{
    padding: 2rem;
    padding-right: 0;
}
.section_2 img{
   width: 100% !important;
}

/* **************************HEADER************************************* */
/* **************************MAIN************************************* */
.main_part{
    background-color: #F4EDE4;
    padding-left: 110px;
}
.logos_title{
    text-align: center;
    padding: 2rem 1rem;
    font-size: 14px;
}
.main_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.main_logos img{
    object-fit: cover;
}
.main_first_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:3rem;

}
.colored_part1{
    background-color: #36C5F1;
    width: 100%;
    max-width: 600px;
    height: 346px;
    border-top-right-radius: 165px;
    border-bottom-right-radius: 165px;
}
.text_part1{
    padding: 5rem 7rem;
}
.text_part_title{
    font-size: 50px;
    font-weight: 700;
    max-width: 530px;
}
.text_part2 .text_part_title{
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
}
.text_part_desc{
    font-size: 18px;
    line-height: 26px;
    padding: 1rem 0;
    max-width: 480px;
}
.learn_more{
    color: #1264a3;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}
.learn_more::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1264a3; /* Change the color to your desired underline color */
    transition: width 0.3s ease;
  }
  
  .learn_more:hover::after {
    width: 100%;
  }
  .main_second_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:3rem;

}
  .colored_part2{
    background-color: #30B57F;
    width: 100%;
    max-width: 600px;
    height: 346px;
    border-top-left-radius: 165px;
    border-bottom-left-radius: 165px;
    margin-right: 110px;

}
  .colored_part3{
    background-color: #EAB22B;
    width: 100%;
    max-width: 600px;
    height: 346px;
    border-top-right-radius: 165px;
    border-bottom-right-radius: 165px;
    

}
  
  
  
  
/* **************************MAIN************************************* */